<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tables-tab"></ion-back-button>
    </ion-buttons>
    <ion-title>Torna alla lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="custom-content">
  <ion-card>
    <ion-grid class="images-grid">
      <ion-row>
        <ion-col size="6" *ngFor="let imageUrl of table?.images; let isFirst = first">
          <ion-img
            alt="Foto del locale"
            [src]="imageUrl"
            [class.big-image]="isFirst"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-header>
      <ion-card-title>{{ table?.name + ' - ' + table?.location }}</ion-card-title>
      <ion-card-subtitle>{{ table?.address}}</ion-card-subtitle>
      <ion-card-subtitle class="age-range">
        Range di età: {{ table?.minAge + '/' + table?.maxAge }}
      </ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <div class="section-title">Partecipanti</div>
      <div class="participants">
        <ion-avatar *ngFor="let participant of table?.participantsMetadata">
          <img 
            alt="Participant Avatar" 
            class="participant-avatar" 
            [src]="participant.avatar ? participant.avatar : 'assets/icons/avatar-placeholder.webp'" 
          />
        </ion-avatar>
      </div>
      
      <ion-button *ngIf="!hasUserJoined; else joined" 
        [disabled]="table?.participants === table?.totalSeats"
        (click)="joinTable()"
        fill="outline"
      > Partecipa
      </ion-button>
      <ng-template #joined>
        <div>
          Stai partecipando
        </div>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>