.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.space {
    margin-bottom: 9rem;
}

.seats-container {
    display: flex;
    align-items: center
}

.seats-icon {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}