<div class="space"></div>

<ion-content [fullscreen]="true">

  <ion-title>Tavoli aperti</ion-title>

  <ion-list>
    <ion-item *ngFor="let table of tables$ | async">

      <ion-card>
        <img alt="Foto del locale" [src]="table?.images?.[0]" />
        <ion-card-header>
          <ion-card-title>{{ table.name + ' - ' + table.location }}</ion-card-title>
          <ion-card-subtitle>{{ table.address + ' - ' + (table.time | date:'yyyy/MM/dd h:mm:ss a') }}</ion-card-subtitle>
        </ion-card-header>

          <ion-card-content>
            {{ table.description }}
          </ion-card-content>

          <div class="card-footer">
            <div class="seats-container">
              <ion-icon class="seats-icon" name="people"></ion-icon>
              <div>{{table.minMaxSeats}}</div>
            </div>

            <ion-button 
              [disabled]="table.participantsMetadata?.length === table.totalSeats"
              fill="outline"
              (click)="viewTable(table)"
              > Visualizza
            </ion-button>
          </div>

      </ion-card>

    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onScroll()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Caricando altri tavoli...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
