<ion-header>
	<ion-toolbar color="primary">
		<div class="header-first-row">
			<ion-avatar (click)="changeImage()">
				<img *ngIf="profile?.['imageUrl']; else placheolder_avatar;" [src]="profile['imageUrl']" />
				<ng-template #placheolder_avatar>
					<div class="fallback">
						<p>Scegli il tuo avatar</p>
					</div>
				</ng-template>
			</ion-avatar>

			<div class="app-title-container">
				<ion-title> TableShare </ion-title>
				<ion-icon class="app-logo" name="heart"></ion-icon>
			</div>

			<ion-buttons slot="start">
				<ion-button (click)="logout()">
					<ion-icon slot="icon-only" name="log-out"></ion-icon>
				</ion-button>
			</ion-buttons>
		</div>

		<!-- <app-theme-switch></app-theme-switch> -->
	</ion-toolbar>
	
</ion-header>

<app-tab-bar></app-tab-bar>
